.images{
  background: white;
  margin: 0 auto;
  padding: 20px;
}

.full{
  padding: 20px;
  width: 100%;
}

.jumbotron{
  background: #CF000F;
}

.navbar{
  background: #CF000F;
}

.navbar-header{
 a{
  color: white;
  }
  a:hover{
    color:black;
  }
}

.shadow{
  box-shadow: 5px 5px 6px grey;
}

.footer{
  color:white;
}
